@font-face {
  font-family: "Inter";
  src: "https://fonts.google.com/specimen/Inter";
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Inter";
  background-color: hsl(0, 0%, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.container {
  /* height: 400px; */
  width: 35rem;
  text-align: center;
  background-color: hsl(0, 0%, 12%);
  border-radius: 1rem;
  margin-bottom: 5rem;
}

.avatar {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  justify-content: center;
  margin-top: 2rem;
}

.avatar-name {
  font-weight: 700;
  font-size: 2rem;
  color: hsl(0, 0%, 100%);
}

.avatar-location {
  font-weight: 600;
  font-size: 1.6rem;
  color: hsl(75, 94%, 57%);
}

.avatar-description {
  font-weight: 400;
  font-size: 1.4rem;
  color: hsl(0, 0%, 8%);
}

.all-btn {
  margin: 3rem 0 3rem 0;
}

.btn {
  display: block;
  color: #ffffff;
  font-weight: 600;
  background: #333333;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.5rem;
  margin: 1.5rem 3rem 1.5rem 3rem;
}

.btn:hover {
  color: hsl(0, 0%, 20%);
  background-color: hsl(75, 94%, 57%);
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
  html {
    font-size: 55%;
  }

  body {
    height: 100vh;
  }
  .container {
    width: 30rem;
  }
}
